.friend-form {
  width: 30rem;
  height: 25rem;
  box-shadow: var(--lightshadow);
  margin: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.friend-form input {
  width: 90%;
  height: 2.5rem;
  padding-left: 1rem;
  margin-block-end: 1rem;
  border: none;
  border: 1px solid gray;
  border-radius: 0.5rem;
}
